.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.photo img {
  width: 200px;  /* Встановлюємо однаковий розмір для фото */
  height: 200px;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}
